model_tani.py
train_tani.py
# checkpoints.ipynb
__pycache__/
dump.py
resize.py
***.nc
***.hdf
***.sh
.vscode/settings.json
***.xml
***.cfg
course_work/shp_rohit/
Shapefile_alakananda-20240627T070711Z-001/
